<% if flash.notice || flash.alert %>
    <div class="notice_block">
        <div class="wrap">
            <%= content_tag(:span, flash.notice, class: 'notice')  %>
            <%= form_tag('/users_name') do %>
            	<input type="text" name="name">
            	<%= submit_tag() %>
            <% end %>
        </div>
    </div>
<% end %>
	<div class="main">
		<!-- がんばれー笑 -->
		<div class="header">
			<div class="wrap">
				<h1><a href="/all">Hoshino Takahiroの卒論</a></h1>
				<p><a href="/new">NEW TAG</a></p>
			</div>
		</div>
		<div class="footer">
			<div class="wrap">
				<%= form_for(@tag, url: :new_post) do |f| %>
					<%= f.label :tag_name, '新しいタグ', :class => 'mt-10' %>
                    <%= f.text_area :tag_name %>
                    <input type="hidden" name="page" id="page" value="<%= params[:page] %>" />
                    <%= f.submit '投稿' %>
				<% end %>
			</div>
		</div>
		</div>
	</div>